<div id="pubdSurveys">
  <h2 class="divTitle">Published Surveys</h2>
  <div class="surveyList">
    <% @published_surveys.each do |survey| %>
      <div class="survey" id="survey1">
        <div class="surveyName"><%= survey.title %></div>
        <i class="fa fa-bar-chart"></i>
        <div class="unpubButton"><%= link_to 'Unpublish', unpublish_path(survey), method: :patch %></div>
        <div class="deleteButton"><%= link_to 'Delete', survey, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  </div>
</div>

<div id="savedSurveys">
  <h2 class="divTitle">Surveys in Progress</h2>
  <div class="surveyList">
    <div class="newSurvey"><i id="plus" class="fa fa-plus-square"><%= link_to '', new_survey_path %></i>Create a New Survey</div>
      <% @unpublished_surveys.each do |survey| %>
        <div class="survey" id="surveySaved1">
          <div class="surveyName"><%= survey.title %></div>
          <div class="editButton"><%= link_to 'Edit', edit_survey_path(survey) %></div>
          <div class="pubButton"><%= link_to 'Publish', publish_path(survey), method: :patch %></div>
          <div class="deleteButton"><%= link_to 'Delete', survey, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      <% end %>
  </div>
</div>
