<div id="pubdSurveys">
  <h2 class="divTitle">Published Surveys</h2>
  <div class="pubSurveyList">
    <div class="noPubSurveys">You have no published surveys</div>
    <% @published_surveys.each do |survey| %>
      <div class="survey">
        <div class="surveyName"><%= survey.title %></div>
        <div class="surveyActions">
          <i class="fa fa-bar-chart"></i>
          <div class="unpubButton"><%= link_to 'Unpublish', unpublish_path(survey), method: :patch %></div>
          <div class="deleteButton"><%= link_to 'Delete', survey, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
        <div class="surveyShare">
          <i id="shareIcon" class="fa fa-share-square"><%= link_to "Show", survey_path(survey.token), method: :get %></i>
          <div class="surveyLink"><%= questionaire_url(survey.token) %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="savedSurveys">
  <h2 class="divTitle">Surveys in Progress</h2>
  <div class="savedSurveyList">
    <div class="noSavedSurveys">You haven't started any new surveys</div>
    <a href="<%= new_survey_path %>"><div class="newSurvey"><i id="plus" class="fa fa-plus-square"></i>Create a New Survey</div></a>
      <% @unpublished_surveys.each do |survey| %>
        <div class="survey">
          <div class="surveyName"><%= survey.title %></div>
          <div class="surveyActions">
            <div class="editButton"><%= link_to 'Edit', edit_survey_path(survey) %></div>
            <div class="pubButton"><%= link_to 'Publish', publish_path(survey), method: :patch %></div>
            <div class="deleteButton"><%= link_to 'Delete', survey, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          </div>
        </div>
      <% end %>
  </div>
</div>
