<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<!-- the login page -->
<!-- http://localhost:3000/login -->

<%= image_tag asset_url("loginPic.jpg"), class: "background-image" %>


<div class = "login-ribbon">
<h1>Survey Opossum</h1>
<div><%= link_to "Sign Up", signup_path(session), method: :get %></div>
<%= form_tag login_path do %>
  <p class = "signup" ><%= email_field_tag :email, nil, placeholder: "Email" %></p>
  <p class = "signup"><%= password_field_tag :password, nil, placeholder: "Password" %></p>
  <%= submit_tag "Login" %>
<% end %>
</div>
