<h1>Who wants to be a questionaire</h1>

<div>
  <%= form_for(@survey, url: questionaire_create_path) do |f| %>
    <div>
      <% @survey.questions.order(:order).each do |q| %>
        <div>
          <%= f.fields_for q do |ff| %>
            <%= ff.text_field :question_text %>
            <%= ff.fields_for :answers do |fff| %>
              <div>
                <% case q.question_type %>
                  <% when "Short" %>
                    <%= fff.text_field :answer, placeholder: "Answer" %>
                  <% when "Long" %>
                    <%= fff.text_area :answer, placeholder: "Answer" %>
                  <% when "YesNo" %>
                    <% q.options.each do |o| %>
                      <% if o.option %>
                        <%= fff.label :answer_option, o.option %>
                        <%= fff.radio :answer, value: o.value %>
                      <% else %>
                        <%= fff.label :answer_option, o.value %>
                        <%= fff.radio :answer, value: o.value %>
                      <% end %>
                    <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% f.submit %>
  <% end %>
</div>
