<%= form_for(@author) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="emailfield">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <% if @author.password_digest.nil? %>
    <div class="passwordfield">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
  <% end %>
  <div class="firstnamefield">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="lastnamefield">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="submitactions">
    <%= f.submit %>
  </div>
<% end %>
