<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>
  <%= f.hidden_field :author_id %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

<div class ="questions-container">
  <%= f.fields_for :questions do |ff| %>
    <div class = "short-answer">
      <%= ff.label :order %>
      <%= ff.number_field :order %><br>
      <%= ff.label :question_type_id %>
      <%= ff.collection_select(:question_type_id, QuestionType.all, :id, :category) %><br>
      <%= ff.label :question_text %>
      <%= ff.text_field :question_text %><br>
      <%= ff.label :required %>
      <%= ff.check_box :required %><br>

      <button type="button" class="remove-question">Delete question</button>

      <div>
        <%= ff.fields_for :options do |fff| %>
          <%= fff.label :option %>
          <%= fff.text_field :option %>
          <%= fff.label :value %>
          <%= fff.text_field :value %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

  <button type="button" class="add-question">Add a question</button>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
