<p id="notice"><%= notice %></div>

<div>
  <strong>Author:</strong>
  <%= @survey.author.name %>
</div>

<div>
  <strong>Title:</strong>
  <%= @survey.title %>
</div>

<div>
  <strong>Description:</strong>
  <%= @survey.description %>
</div>

<div>
  <% @questions.each do |q| %>
      <div><%=label_tag "Question" %></div>
      <div><%= q.question_text %></div>
      <div><% q.answers.each do |qq| %>
        <div><%= label_tag "Answer" %></div>
        <div><%= qq.answer %></div>
      <% end %>
    </div>
  <% end %>
</div>
