<p id="notice"><%= notice %></div>

  <div class = "back-to-dash">
    <%= link_to 'Back to dashboard', root_path %>
  </div>

<div class = "survey-contents">
  <!-- <div class = "author-name">
    <strong>Author:</strong>
    <%= @survey.author.name %>
  </div> -->

  <div class = "title-name">
    <%= @survey.title %>
  </div>

  <div class = "description-name">
    <strong>Description:</strong>
    <%= @survey.description %>
  </div>



  <div class = "question-contents">
    <% @questions.each do |q| %>

      <div class = "question-answer">
        <div class = "question-text">
          <div><%=label_tag "Question:" %></div>
          <div><%= q.question_text %></div>
        </div>

        <div class = "answer-text">
          <div><% q.answers.each do |qq| %></div>
          <div><%= label_tag "Answer:" %></div>
          <% if qq.answer == nil || qq.answer == "" %>
            <div><%= "No Answer Submitted." %></div>
          <% else %>
            <div><%= qq.answer %></div>
          <% end %>
        </div>
      </div>
        <% end %>
    <% end %>
  </div>

</div>
