<!DOCTYPE html>
<html>
<head>
  <span>
  <title>SurveyOpossum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body>
<<<<<<< HEAD
  <div class="header">
    <span>
      <%= "Hi, #{Author.find(session[:user_id]).first_name}" if session[:user_id] != nil%>
    </span>
  </div>


  <div class="profile_dropdown">
    <div> <%= link_to "Edit Profile", edit_profile_path %></div>
    <div><%=  link_to "Change Password", edit_login_path %></div>
    <div><%= link_to "Sign Out", login_path, method: :delete %></div>
  </div>
=======
  <header class="header">
    <%= image_tag asset_url("roadkillpossum.jpg"), class: "opposumicon" %>
    <div class="userInfo">
      <span>
        <%= p "Hi, #{Author.find(session[:user_id]).first_name}" if session[:user_id] != nil %>
      </span>
      <i id="downCaret" class="fa fa-chevron-circle-down fa-2x"></i>
      <%= image_tag asset_url("opossumicon.png"), class: "opposumicon" %>
      <div class="profile_dropdown">
        <div> <%= link_to "Edit Profile", edit_profile_path if session[:user_id] != nil %></div>
        <div><%=  link_to "Change Password", edit_login_path if session[:user_id] != nil %></div>
        <div><%= link_to "Sign Out", logout_path, method: :delete %></div>
      </div>
    </div>
  </header>
>>>>>>> 30684e90f9abe100aa82c811ccba881588f0b062
<%= yield %>

</body>
</html>
